@{
    ViewData["Title"] = "Purchase History";
    List<PurchaseHistory> myPurchaseHistoryList = ViewBag.purchaseHistory;
    Dictionary<string, List<string>> myList = new Dictionary<string, List<string>>();
    List<Comment> comments = ViewBag.comments;
    List<Rate> rates = ViewBag.rates;
}

    

@{
    if (myPurchaseHistoryList.Count() == 0)
    {
        <div class="text-center">
            <h3>No records of purchase</h3>
        </div>
    }
}

<link href="/css/star-rating.css" rel="stylesheet" />
<script src="/js/star-rating.js"></script>

<div class="row rowOverall">
@{
    foreach (PurchaseHistory myPurchaseHistory in myPurchaseHistoryList)
    {
        foreach (PurchaseList myPurchaseList in myPurchaseHistory.PurchaseList)
        {
            <div class="col col-md-4">
                <div class="card border-primary mb-3 centerText">
                    <img class="card-img-top" src="/img/@myPurchaseList.Product.ImagePath" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">@myPurchaseList.Product.Name</h5>
                        <p class="card-text">@myPurchaseList.Product.Desc</p>
                        <form asp-controller="Shop" asp-action="DownloadFile" asp-route-filepath="@myPurchaseList.DownloadLink" method="post" enctype="multipart/form-data">  
                            <button type="submit" class="btn btn-primary">Download</button>  
                        </form>
                    </div>
                </div>
            </div>
            <div class="col col-md-8 mt-5">
                <span class="font-weight-bold">Purchase Date:</span>
                <span>@myPurchaseHistory.PurchaseDate.ToString("dd MMM yyyy")</span>
                <br />
                <br />

                <span class="font-weight-bold">Quantity:</span>
                <span>@myPurchaseList.ActivationCodes.Count</span>
                <br />
                <br />

                <span class="font-weight-bold">Activation Code:</span>
                @{
                    if (myPurchaseList.ActivationCodes.Count == 1)
                    {
                        foreach (ActivationCode myActivationCode in myPurchaseList.ActivationCodes)
                        {
                            <span>@myActivationCode.Id</span>
                        }
                        <br />
                    }
                    else
                    {
                        <select class="custom-select activationCodeField">
                            @{
                                foreach (ActivationCode myActivationCode in myPurchaseList.ActivationCodes)
                                {
                                    <option>@myActivationCode.Id</option>
                                }
                            }
                        </select>
                    }

                }
                @{
                    var isComment = false;
                    foreach (var comment in comments)
                    {
                        if (comment.Product.Id == myPurchaseList.Product.Id)
                        {
                            isComment = true;
                            <br />
                            <span class="font-weight-bold">Your comment:</span>
                            <p>@comment.CommentString</p>
                            <button class="btn btn-warning" type="button" onclick="DeleteComment('@comment.Id')">
                                Delete Comment
                            </button>
                        }
                    }

                    if (isComment == false)
                    {
                        <br />
                        <span class="font-weight-bold">Comment:</span><br />
                        <textarea class="form-control mb-1" id="comment_@myPurchaseList.Product.Id"></textarea>
                        <button class="btn btn-primary float-right" type="button" onclick="LeaveComment('@myPurchaseList.Product.Id')">
                            Leave Comment
                        </button>
                    }
                }
                @{
                    var isRated = false;
                    foreach (var rate in rates)
                    {
                        if (rate.Product.Id == myPurchaseList.Product.Id)
                        {
                            isRated = true;
                            <p>Your rate:</p>
                            <select class="star-rating" onchange="UpdateRating(this, '@myPurchaseList.Product.Id')">
                                @if (rate.Stars == 5)
                                {
                                    <option value="5" selected>Excellent</option>
                                }
                                else
                                {
                                    <option value="5">Excellent</option>
                                }
                                @if (rate.Stars == 4)
                                {
                                    <option value="4" selected>Very Good</option>
                                }
                                else
                                {
                                    <option value="4">Very Good</option>
                                }
                                @if (rate.Stars == 3)
                                {
                                    <option value="3" selected>Average</option>
                                }
                                else
                                {
                                    <option value="3">Average</option>
                                }
                                @if (rate.Stars == 2)
                                {
                                    <option value="2" selected>Poor</option>
                                }
                                else
                                {
                                    <option value="2">Poor</option>
                                }
                                @if (rate.Stars == 1)
                                {
                                    <option value="1" selected>Terrible</option>
                                }
                                else
                                {
                                    <option value="1">Terrible</option>
                                }
                            </select>
                        }
                    }
                    if (isRated == false)
                    {
                        <p>Haven't rate:</p>
                        <select class="star-rating" onchange="Rating(this, '@myPurchaseList.Product.Id')">
                            <option value="">Select a rating</option>
                            <option value="5">Excellent</option>
                            <option value="4">Very Good</option>
                            <option value="3">Average</option>
                            <option value="2">Poor</option>
                            <option value="1">Terrible</option>
                        </select>
                    }
                }
                <script>var stars = new StarRating('.star-rating');</script>

            </div>
            <br />
        }

    }
}
</div>

